.meteor {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    opacity: 0;
    transform: rotate(215deg) translateX(-500px);
    animation: meteor var(--meteor-duration, 3s) linear infinite;
    animation-delay: var(--meteor-delay, 0s);
    width: var(--meteor-width, 100px);
}

@keyframes meteor {
    0% {
        transform: rotate(215deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(215deg) translateX(-500px);
        opacity: 0;
    }
}